# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# =====================================================
# VIRTUAL ENVIRONMENT
# =====================================================

.venv/

# =====================================================
# NODE / REACT
# =====================================================

frontend/node_modules/

# =====================================================
# CHROMA DATABASE
# =====================================================

backend/chroma_db/

# =====================================================
# ENVIRONMENT VARIABLES
# =====================================================

.env
backend/.env

# =====================================================
# IDE
# =====================================================

.vscode/

# =====================================================
# OPERATING SYSTEM
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
TEMPLATE.md